# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# Node
node_modules/
dist/

# Vite
.vite/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp

# Python testing
.pytest_cache/
.coverage

# Sistema
Thumbs.db